HOST=localhost
PORT=3000
DB_HOST=localhost
DB_PORT=5432
TZ=America/Argentina/Buenos_Aires

DB_NAME=your_database_name
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloud_api_key
CLOUDINARY_API_SECRET=your_cloud_api_secret

GOOGLE_CLIENT_ID=.apps.googleusercontent.com

SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

MAIL_FROM=your_sender_email
FRONTEND_URL=http://localhost:5173